@{
    ViewBag.Title = "抽查紀錄表維護";
    ViewBag.BarTitle = ViewBag.Title;
    //Layout = "~/Views/Shared/_BackendLayout.cshtml"; 
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div id="app">
    <checksheet-maintain></checksheet-maintain>
</div>
