@{
    ViewBag.Title = "工程履歷管理";
    ViewBag.BarTitle = ViewBag.Title;
    //Layout = "~/Views/Shared/_BackendLayout.cshtml"; 
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div id="app">
    <eng-history-info></eng-history-info>
</div>