
@{
    ViewBag.Title = "需求評估";
    ViewBag.BarTitle = ViewBag.Title;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    //Layout = "~/Views/Shared/_LayoutEngAnalysisDecision.cshtml";
}
<div id="app">
    <er-need-assessment-list></er-need-assessment-list>
</div>