
@{
    ViewBag.Title = "全民督工";
    ViewBag.BarTitle = ViewBag.Title;
    //Layout = "~/Views/Shared/_BackendLayout.cshtml";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div id="app">
    <national-supervised-activity></national-supervised-activity>
</div>
