@{
    ViewBag.Title = "監造計畫產製";
    ViewBag.BarTitle = ViewBag.Title;
    Layout = "~/Views/Shared/_MainLayout.cshtml";//Layout = "~/Views/Shared/_LayoutFrontDesk.cshtml";
}
<div id="app">
<supervisionplan-edit></supervisionplan-edit>
</div>