@{
    ViewBag.Title = "統計報表";
    ViewBag.BarTitle = "碳排管制表下載";
    //Layout = "~/Views/Shared/_LayoutEngQualityManage.cshtml";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div id="app">
    <ce-control-table></ce-control-table>
</div>