/obj/Debug
/obj/Release
/obj
/packages
/LogFiles
/Content/dist
/Content/dist/js
/Content/dist/css
/bin
/TemplateFile/*.mp4
ClientApp/package-lock.json
EQC.csproj.user

.*
!.gitignore

Properties/PublishProfiles/FolderProfile.pubxml.user

/FileUploads
/Content/dist/css/app.css
/Content/dist/css/app.css

*.zip
*.bak
