<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<connectionStrings >
		<!-- <add name="ConnString" connectionString="Data Source=AUTOMEDIA;Initial Catalog=EQC;User ID=sa;Password=!QAZ2wsx83442586;Pooling=true; Max Pool Size=500; Min Pool Size=20" providerName="System.Data.SqlClient" /> -->
		<!--<add name="ConnString" connectionString="Data Source=192.168.9.113;Initial Catalog=EQC;User ID=EQC;Password=Sunyu83442586;Pooling=true; Max Pool Size=500; Min Pool Size=20" providerName="System.Data.SqlClient"/>-->
		<!--<add name="ConnString" connectionString="Data Source=59.126.242.4;Initial Catalog=EQC_Alex;User ID=sa;Password=sunyu83442586;Pooling=true; Max Pool Size=500; Min Pool Size=20" providerName="System.Data.SqlClient" />-->
		<add name="ConnString" connectionString="Data Source=localhost,1432;Initial Catalog=EQC_NEW;User ID=sa;Password=Ss12345;Pooling=true; Max Pool Size=500; Min Pool Size=20" providerName="System.Data.SqlClient" />
		<!--<add name="ConnString" connectionString="Data Source=localhost;Initial Catalog=EQC_NEW;Integrated Security=True" providerName="System.Data.SqlClient" />-->
		<!-- <add name="ConnString" connectionString="Data Source=JERRY\SQLEXPRESS;Initial Catalog=EQC;User ID=sa;Password=jerry0109;Pooling=true; Max Pool Size=500; Min Pool Size=20" providerName="System.Data.SqlClient" /> -->
		<!-- <add name="EQCEntities" connectionString="metadata=res://*/EQC.csdl|res://*/EQC.ssdl|res://*/EQC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AUTOMEDIA;initial catalog=EQC;persist security info=True;user id=sa;password=!QAZ2wsx83442586;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> -->
		<!--<add name="EQCEntities" connectionString="metadata=res://*/EQC.csdl|res://*/EQC.ssdl|res://*/EQC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.9.113;initial catalog=EQC;persist security info=True;user id=EQC;password=Sunyu83442586;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
		<!--<add name="EQC_NEW_Entities" connectionString="metadata=res://*/EDMXModel.Model2.csdl|res://*/EDMXModel.Model2.ssdl|res://*/EDMXModel.Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=59.126.242.4;initial catalog=EQC_Alex;persist security info=True;user id=sa;password=sunyu83442586;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
		<add name="EQC_NEW_Entities" connectionString="metadata=res://*/EDMXModel.Model2.csdl|res://*/EDMXModel.Model2.ssdl|res://*/EDMXModel.Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost,1432;initial catalog=EQC_NEW;persist security info=True;user id=sa;password=Ss12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
		<!--<add name="EQC_NEW_Entities" connectionString="metadata=res://*/EDMXModel.Model2.csdl|res://*/EDMXModel.Model2.ssdl|res://*/EDMXModel.Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=EQC_NEW;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<add name="EQCEntities" connectionString="metadata=res://*/EDMXModel.Model1.csdl|res://*/EDMXModel.Model1.ssdl|res://*/EDMXModel.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=EQC_NEW;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<!--<add name="EQCEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=59.126.242.4;initial catalog=EQC_8080;persist security info=True;user id=sa;password=sunyu83442586;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<!--<add name="EQCEntities" connectionString="metadata=res://*/EDMXModel.Model2.csdl|res://*/EDMXModel.Model2.ssdl|res://*/EDMXModel.Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=EQC_NEW;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	</connectionStrings>
	<appSettings>

		<!--設定上傳路徑，沒有設定則使用預設資料夾，如果路徑位於部屬資料夾，請使用相對路徑 如 folder/folder2/ ....-->
		<!--<add key="SelfEvalPath" value="folder/folder"/>-->

		<!--生態檢核上傳主機位置，當設定上傳路徑不在部屬資料夾中，請設定此項-->
		<!--<add key="SelfEvalHost" value=".."/>-->


		
		<!--改成1-->
		<add key="emailSendFrequency" value="86400" />

		<!-- 自動發信 時間& 開關-->
		<add key="emailTimerRun" value="N" />
		<!--幾點發送-->
		<add key="emailTimerRunTime" value="9:00:00" />
		<!--星期幾發送 0 ~ 6 星期日~星期6-->
		<add key="emailTimerRunDay" value="1" />
		<!--發送分屬 23 ~32 一~十分署-->
		<add key="emailTimerRunForUnit" value="23" />
		
		
		<add key="aspnet:MaxJsonDeserializerMembers" value="30000" />
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<!--<add key="MailAdress" value="service@wantchg.com" />
    <add key="MailPd" value="1qaz@WSX" />
    <add key="SMTP" value="mail.yolamail.com" />
    <add key="MailPort" value="25" />-->
		<add key="MailAdress" value="eqc@ms2.wra.gov.tw" />
		<add key="MailPd" value="st@rk12345" />
		<add key="SMTP" value="ms2.wra.gov.tw" />
		<add key="MailPort" value="587" />
		<add key="EnableSsl" value="N" />
		<add key="UseDefaultCredentials" value="F" />
		<!-- LoingEmailCodeDisabled Y等於關閉email認證碼 N等於打開認證 -->
		<add key="LoingEmailCodeDisabled" value="Y" />
		<!-- localhost 時使用, Port視情況自行修改 -->
		<!--<add key="PortalSiteLocalhostPort" value="21154" />-->
		<add key="PortalSiteLocalhostPort" value="44300" />
		<add key="PortalSite" value="/Login" />
		<add key="LoginSuccessRedirect" value="/TotalDist" />
		<!-- 逾期天數 -->
		<add key="DefaultDeadLine" value="7" />
		<!--署管理者 role seq-->
		<add key="DepartmentAdmin_RoleSeq" value="2" />
		<!--署使用者 role seq-->
		<add key="DepartmentUser_RoleSeq" value="3" />
		<!-- 施工廠商 上層單位seq-->
		<add key="BuildContractor_UnitParentSeq" value="15" />
		<!-- 施工廠商 role seg-->
		<add key="BuildContractor_RoleSeq" value="4" />
		<!-- 監造單位 上層單位seq-->
		<add key="SupervisorUnit_UnitParentSeq" value="16" />
		<!-- 監造單位 role seg-->
		<add key="SupervisorUnit_RoleSeq" value="5" />
		<!-- 委外設計 role seg-->
		<add key="OutsourceDesign_RoleSeq" value="6" />
		<!-- 設計單位 上層單位 role seg-->
		<add key="DesignUnit_UnitParentSeq" value="273" />
		<!-- 委員 role seg-->
		<add key="Committee_RoleSeq" value="7" />
		<!-- 設計單位 上層單位 role seg-->
		<add key="OutCommitteeUnit_UnitParentSeq" value="281" />
		<!--各項資料夾設定-->
		<add key="PPTemplatePath" value="~/FileUploads/Tp/" />
		<add key="PPOutputPath" value="~/FileUploads/Eng" />
		<add key="PPErrorLogPath" value="~/ExpErrLog" />
		<add key="PPAttachmentPath" value="~/FileUploads/" />

		<!--公開透明網-->
		<add key="APIUserControlPassword" value="sunyu83442586" />
		<add key="SymmetricKey" value="5039,3987" />

		<!--電子簽名連結-->
		<add key="signatureRegisterUrl" value="http://localhost:8888/api/Signature/register" />
		<!--Debug模式，用於測試前端，啟動後不會使用預設的Session機制存取使用者資訊，關閉請註解-->
		<!--<add key="Debug" value="true" />-->
		<!--設定公開資訊透明網APIToken-->
		<!--<add key="EngAPIToken" value="77771234"/>-->
		<!--測試站(Nav的呈現不同)-->
		<!--<add key="Developement" value="true"/>-->
	</appSettings>
	<system.web>
		<compilation targetFramework="4.7.2" debug="true" />
		<httpRuntime targetFramework="4.7.2" maxRequestLength="2048000 " executionTimeout="3600 " />

		<sessionState timeout="120" />
	</system.web>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2048000000" />
			</requestFiltering>
		</security>
		<httpProtocol>
			<customHeaders>
				<clear />
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Methods" value="POST" />
				<add name="Access-Control-Allow-Headers" value="X-PINGOTHER, Content-Type" />
				<add name="Access-Control-Max-Age" value="86400" />
			</customHeaders>
		</httpProtocol>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<system.transactions>
		<defaultSettings timeout="00:15:00" />
	</system.transactions>
</configuration>
<!--ProjectGuid: 2D20BBC6-C43F-4234-9087-73197E406068-->
