@{
    ViewBag.Title = "工程核定匯入";
    ViewBag.BarTitle = ViewBag.Title;
    //Layout = "~/Views/Shared/_BackendLayout.cshtml"; 
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div id="app">
    <eng-approvalimport-list></eng-approvalimport-list>
</div>
