
@{
    ViewBag.Title = "提案工作會議";
    ViewBag.BarTitle = ViewBag.Title;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div id="app">
    <er-need-assessment-view></er-need-assessment-view>
</div>