@{
    ViewBag.Title = "施工廠商承攬能量";
    ViewBag.BarTitle = ViewBag.Title;
    //Layout = "~/Views/Shared/_BackendLayout.cshtml";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div id="app">
    <vendor-hire-work-list></vendor-hire-work-list>
</div>


