@{
    ViewBag.Title = "砂石場座標";
    ViewBag.BarTitle = ViewBag.Title;
    //Layout = "~/Views/Shared/_BackendLayout.cshtml";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div id="app">
    <gravel-field-coord></gravel-field-coord>
</div>

