@{
    ViewBag.Title = "品質計畫維護";
    ViewBag.BarTitle = ViewBag.Title;
    //Layout = "~/Views/Shared/_BackendLayout.cshtml"; 
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div id="app">
    <qualityplan-maintain></qualityplan-maintain>
</div>
