@{
    ViewBag.Title = "碳排量計算機";
    ViewBag.BarTitle = "碳排量計算機";
    //Layout = "~/Views/Shared/_LayoutFrontDesk_TenderPlan.cshtml";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div id="app">
    <carbon-cal></carbon-cal>
</div>