
@{
    ViewBag.Title = "施工廠商查核成績";
    ViewBag.BarTitle = ViewBag.Title;
    //Layout = "~/Views/Shared/_BackendLayout.cshtml";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div id="app">
    <public-work-firm-resume></public-work-firm-resume>
</div>

