
@{
    ViewBag.Title = "City";
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
}

<div>
    <input type="button" id="btnNew" value="新增" onclick="location.href='@Url.Action("Create", "City" , new { id=1 })'" />

</div>
<city-list></city-list>