
@{
    ViewBag.Title = "年度經費檢討會議";
    ViewBag.BarTitle = ViewBag.Title;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div id="app">
    <er-proposal-review-view></er-proposal-review-view>
</div>