@{
    ViewBag.Title = "圖表維護";
    ViewBag.BarTitle = ViewBag.Title;
    //Layout = "~/Views/Shared/_BackendLayout.cshtml"; 
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div id="app">
	<chapter-chart-maintain></chapter-chart-maintain>
</div>