@{
    ViewBag.Title = "工程督導範本維護";
    ViewBag.BarTitle = ViewBag.Title;
    //Layout = "~/Views/Shared/_BackendLayout.cshtml"; 
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div id="app">
    <estemp-maintain></estemp-maintain>
</div>
