
@{
    ViewBag.Title = "功能權限管理";
    ViewBag.BarTitle = ViewBag.Title;
    //Layout = "~/Views/Shared/_BackendLayout.cshtml"; 
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div id="app">
    <menu-list></menu-list>
</div>
