
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NoneLayout.cshtml";
}


<login></login>


<!--</div>-->
<!-- JS Libs -->
<!--<script defer src="..//assets/libs/popper.js/popper.min.js"></script>
<script defer src="..//assets/libs/bootstrap/js/bootstrap.js"></script>
<script defer src="..//assets/libs/holderjs/holder.min.js"></script>-->
<!-- Own JS -->
<!--<script defer src="..//assets/js/init.js"></script>-->
