
@{
    ViewBag.Title = "工程分析決策";
    ViewBag.BarTitle = "各單位在建工程件數";
    Layout = "~/Views/Shared/_LayoutEngAnalysisDecision.cshtml";
}
<div id="app">
    <ead-uniteng-list></ead-uniteng-list>
</div>