@{
    ViewBag.Title = "建立標案";
    ViewBag.BarTitle = "工程立號";
    //Layout = "~/Views/Shared/_LayoutFrontDesk_TenderPlan.cshtml"; 
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div id="app">
	<tenderplan-edit></tenderplan-edit>
</div>