@{
    ViewBag.Title = "案件資料";
    ViewBag.BarTitle = "工程立號";
    //Layout = "~/Views/Shared/_LayoutFrontDesk_TenderPlan.cshtml"; 
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div id="app">
    <tenderplan-list></tenderplan-list>
</div>
