@{
    ViewBag.Title = "建立標案";
    ViewBag.BarTitle = "工程立號";
    Layout = "~/Views/Shared/_LayoutFrontDesk_TenderPlan.cshtml"; 
    //Layout = "~/Views/Shared/_LayoutEngQualityManage.cshtml";
}
<div id="app">
	<tenderplan-list></tenderplan-list>
</div>