@{
    ViewBag.Title = "生態檢核統計";
    ViewBag.BarTitle = "生態檢核統計下載";
    //Layout = "~/Views/Shared/_LayoutEngQualityManage.cshtml";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div id="app">
    <eqm-ecologicalchecksta-list></eqm-ecologicalchecksta-list>
</div>