@{
    ViewBag.Title = "碳排量計算";
    ViewBag.BarTitle = "碳排係數計算";
    //Layout = "~/Views/Shared/_LayoutFrontDesk_TenderPlan.cshtml"; 
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div id="app">
	<eqm-carbonemission-list></eqm-carbonemission-list>
</div>