@{
    ViewBag.Title = "設計階段施工風險評估";
    ViewBag.BarTitle = ViewBag.Title;
    //Layout = "~/Views/Shared/_LayoutFrontDesk_TenderPlan.cshtml"; 
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div id="app">
	<eqm-constriskeval-list></eqm-constriskeval-list>
</div>