
@{
    ViewBag.Title = "督導紀錄機關編碼";
    ViewBag.BarTitle = ViewBag.Title;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div id="app">
    <supervise_unitcode-list></supervise_unitcode-list>
</div>