@{
    ViewBag.Title = "計畫書維護";
    ViewBag.BarTitle = ViewBag.Title;
    //Layout = "~/Views/Shared/_BackendLayout.cshtml"; 
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div id="app">
    <mmplan-maintain></mmplan-maintain>
</div>
