
@{
    ViewBag.Title = "品質管制弱面分析";
    ViewBag.BarTitle = ViewBag.Title;
    Layout = "~/Views/Shared/_MainLayout.cshtml";;
}
<div id="app">
    <ead-weakness-analysis></ead-weakness-analysis>
</div>