@{
    ViewBag.Title = "專家委員維護";
    ViewBag.BarTitle = ViewBag.Title;
    //Layout = "~/Views/Shared/_BackendLayout.cshtml"; 
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div id="app">
    <expert-committee-list></expert-committee-list>
</div>
