@{
    ViewBag.Title = "重點防汛工程設定";
    ViewBag.BarTitle = ViewBag.Title;
    //Layout = "~/Views/Shared/_BackendLayout.cshtml";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div id="app">
    <weak-tender-plan-edit></weak-tender-plan-edit>
</div>

