@{
    ViewBag.Title = "工程缺失扣點紀錄";
    ViewBag.BarTitle = ViewBag.Title;
    //Layout = "~/Views/Shared/_BackendLayout.cshtml";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div id="app">
    <quality-deduction-points></quality-deduction-points>
</div>
